@import url("https://use.typekit.net/twe4ifo.css");

body {
  	margin: 0;
	font-family: code-saver, sans-serif;
	font-weight: 400;
	font-style: normal;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

h2 {
	font-family: fairweather, sans-serif;
	font-weight: 900;
	font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
